body {
  background: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/04/22/21/Chicharito.jpg?width=982&height=726&auto=webp&quality=75") no-repeat fixed;
  background-size: auto;
  background-size: cover;
}

/********************TAG SELECTORS****************/
hr {
  background-origin: center;
  background-color: none;
  border-style: dotted;
  height: 0px;
  width: 8%;
  border-width: 6px 0px 0px 0px;
}

p:hover {
  color: gold;
}

img:hover {
  border-style: dotted;
  border-width: 6px;
  border-radius: 0%;
}

/*****************CLASS SELECTORS******************/
.santo {
 color: green;
  border-style: dotted;
  border-radius:100%;
  border-width: 6px;
}

p{
  color: white;
}
.chicharito {
  color: red;
  border-radius: 100%;
  border-style: solid;
  border-width: 6px;
}

.I {

  color: green;
}

.Love {
  color: white;
}

.Chichadios {
  color: red;
}
}
